:root {
    --dark-grey: #282828;
    --dark: #373737;

    ::-webkit-scrollbar {
        height: 10px;
        width: 0.4rem;
    }

    ::-webkit-scrollbar-track {
        /* background: #070707; */ 
        border-radius: 0.4rem;
    }

    ::-webkit-scrollbar-thumb {
        background: #727272;
        border-radius: 0.4rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c4c4c4;
        cursor: ns-resize;
    }
}

* {
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: stretch;
    background: linear-gradient(45deg, cyan, #005774, #0f1e43, #005774, cyan);
    background-size: 400% 400%;
    animation: moveGradient 10s infinite linear;
}
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.editor-container {
    visibility: none;
    height: 11.5rem; 
    width: 50%; 
    color: white;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 0.5rem;
}

#white-div {
    height: 40.4rem;
    width: 50vw;
    border:none;
    margin: 9px;
    margin-left: 3px; /*due to button*/ 
    padding: 5px;
    border-radius: 0.5rem;
    background-color: white;
}

#editor,
#editor2,
#editor3 {
    height: inherit;
    width: 100%;
    font-size: 15px;
    color: white;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

h1 {
    padding: 6px;
    padding-inline:10px;
    margin-top: 0.5rem;
    font: 600 1rem sans-serif;
    color: #ffffff;
    background-color: #25282C;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

h2 {
    padding: 15px;
    color: #ffffff;
}

.bottom {
    font-size: 15px;
    position: fixed; /*Change to fixed position*/
    bottom: 8px;
    left: 50%;     /*Place it horizontally centered*/
    transform: translateX(-50%); /*Center horizontally*/
    height: 8vh;
    width: 99vw; 
    border-radius: 0.5rem;
    background-color: var(--dark-grey);
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it's above other elements */
}

.bottom h1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.bottom textarea {
    font-family: 'Poppins', sans-serif;
    width: calc(100% - 80px); /* Adjust width to fit the button */
    height: 50%;
    background-color: var(--dark-grey);
    color: #d0d0d0;
    padding:8px;
    padding-top:5px;
    outline: none;
    border-radius: 0.4rem;
    font-size: 17.5px;
    resize: none;
}

.separator {
    padding-right: 11px;
    padding-left: 4px;
    margin-left: 0.2rem;
    height: 40px;
    width: 10px;
    background-color: rgba(106, 106, 106, 0.4);
    border: none; 
    border-radius:2px; 
    outline: none;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
    transition: color 0.4s, transform 0.4s;
    color: #fff; /* Text color */
    margin-top: auto; /* Use auto margin to vertically center */
    margin-bottom: auto; /* Use auto margin to vertically center */
    display: flex; /* Use flex display */
    align-items: center; /* Vertically center the content */
}
.separator:hover,
.separator:focus {
    color:black; /* Text color */
    background-color: rgba(189, 189, 189, 0.8); /* Darker background color on hover and focus */
}
.separator:active {  
    transform: scale(0.92);
}

.button-57 {
    margin-inline: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 0.4rem;
    position: relative;
    overflow: hidden;
    border: 1px solid #727272;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    padding: 12px; 
    padding-right: 15px;
    text-decoration: none;
    cursor: pointer;
    background: var(--dark-grey);
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 8px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}